## String based Question

Que 1. Write a program to reverse a string.

In [1]:
string1 = input("Enter a string: ")
reverse_string = string1[::-1]
print(reverse_string)

Enter a string: hello
olleh

By using function-

Q2. Check if a string is a palindrome.

In [2]:
def is_palindrome(str1):
    
    #remove space and convert it into lower case
    str1=str1.lower().replace(" ","")
    #reversed the string using slicing
    reverse_str = str1[::-1]
    
    if str1 == reverse_str:
        return True
    else:
        return False
    
print(is_palindrome("madam"))
print(is_palindrome("hello"))
print(is_palindrome("racar"))

True
False
True

Q3. Convert a string to uppercase.

In [3]:
str1 = "Hello"
print(str1.upper())

HELLO

Q4. Convert a string to lowercase.

In [4]:
str2 = "WORLD"
str2.lower()

'world'

Q5. Count the number of vowels in a string.

In [5]:
str3 = "Pwskills"
vowel="aeiouAEIOU"
count = sum(str3.count(vowel) for vowel in vowel)
print(count)

1

Q6. Count the number of consonants in a string.

In [6]:
str3 = "Pwskills"
consonant = "bcdfghjklmnpqrstvwxyzBCDFGHJKLMNPQRSTWXYZ"
count = sum(str3.count(consonant) for consonant in consonant)
print(count)

7

Q7. Remove all whitespaces from a string.

In [7]:
def remove_whitespace(input_str):
    #create a new string to store the modified string
    modified_str = ""
    #iterate through each character in input string
    for char in input_str:
        #check if the char is whitespace 
        if not char.isspace():   #it should not be whitespace
            #if it is not whitespace then add it to modified string
            modified_str += char
            
    return modified_str

input_str = "This string has whitespace"
modified_str=remove_whitespace(input_str)
print(modified_str)

Thisstringhaswhitespace

Q8. Find the length of a string without using the `len()` function.

In [8]:
def str_length(str2):
    count=0
    for char in str2:
        count+=1
    return count

str2="PWskills"
str_len = str_length(str2)
print(str_len)

8

Q9. Check if a string contains a specific word.

In [9]:
def check_substr(str2,sub_str):
    if sub_str in str2:
        return True
    else:
        return False
    
str2="This is pw course"
sub_str = "is"

if check_substr(str2,sub_str):
    print("yes")
else:
    print("No")

yes

Q10. Replace a word in a string with another word.

In [10]:
def replace_str(str3,old_word,new_word): 
    new_str = str3.replace(old_word,new_word)
    return new_str

str3="That is a new house"
old_word="is"
new_word="was"

new_str = replace_str(str3,old_word,new_word)
print(new_str)

That was a new house

OR

In [11]:
input_str = input("Enter a sentence: ")
old_word= input("Enter the old word: ")
new_word=input("Enter the new word: ")

modified_str = input_str.replace(old_word,new_word)
print("modified_str: ",modified_str)

Enter a sentence: that is new house
Enter the old word: is
Enter the new word: was
modified_str:  that was new house

Q11. Count the occurrences of a word in a string.

In [12]:
def count_occurences(input_str,word):
    #split the input string into a list of words
    words=input_str.split()
    #return the final word count
    return words.count(word)

input_str = "This is a PW course of Data science. This course includes ML,Python." 
#in above line if we count the no. of occurence of science then output will be 0 because there is science.
word_to_count = "course"
#call the function and print the result
result=count_occurences(input_str,word_to_count)
print(f"The word {word_to_count} occurs {result} times.")

The word course occurs 2 times.

if we will search the no. of occurence for science it will show 0 because punctuaution is also there with it
so we will remove punctuation by a code-
input_str=input_str.translate(str.marktrans("",string.punctuation))

Q12. Find the first occurrence of a word in a string.

In [13]:
def find_first_occurence(text,word):
    #find the index of the first occurence of the word in text
    index = text.find(word)
    #check if the index is -1 ,it indicates the word is not found
    if index==-1:
        return None
    #return the index of the occurence of the word
    return index

text = "This is a good course. I was also exploring course related to it."
word = "course"
result=find_first_occurence(text,word)
print("index of the first occurence : ", result)

index of the first occurence :  15

Q13. Find the last occurrence of a word in a string.

In [14]:
def find_last_occurence(text,word):
    index=text.rfind(word) #rfind to find the index of last occurence
    if index==-1:       #if return -1 it means word is not found in the text
        return None
    return index

text = "This is a good course. I was also exploring course related to it."
word = "course"
result=find_last_occurence(text,word)
print("index of the last occurence : ", result)

index of the last occurence :  44

Q14. Split a string into a list of words?

In [15]:
def split_string_into_words(text):
    #use split method to split the text
    words=text.split()
    return words
text= "This is a data science course"
words=split_string_into_words(text)
print("List of words : ",words)

List of words :  ['This', 'is', 'a', 'data', 'science', 'course']

Q15. Join a list of words into a string.

In [16]:
def join_words_into_string(words):
    string1 = " ".join(words)
    return string1
words = ['This', 'is', 'a', 'data', 'science', 'course']
string1 = join_words_into_string(words)
print("joined string : ", string1)

joined string :  This is a data science course

Q16. Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [17]:
def convert_to_underscore_seperated(text):
    underscore_seperated = text.replace(" ","_")
    return underscore_seperated

text = "This a data science course"
converted_text=convert_to_underscore_seperated(text)
print("converted_text : ",converted_text)

converted_text :  This_a_data_science_course

Q17. Check if a string starts with a specific word or phrase.

In [18]:
def starts_with(text,word):
    return text.startswith(word) #startswith method to check if it starts with the specific word

text = "This is a data science course of PW."
word = "This"
result = starts_with(text,word)
print(result)

True

Q18. Check if a string ends with a specific word or phrase.

In [19]:
def ends_with(text,word):
    return text.endswith(word) #startswith method to check if it starts with the specific word

text = "This is a data science course of PW."
word = "PW."
result = ends_with(text,word)
print(result)

True

Q19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [20]:
def title_case(text):
    return text.title()

text="hello world"
result=text.title()
print(result)

Hello World

Q20. Find the longest word in a string.

In [21]:
def longest_word(text):
    words=text.split()
    #initialize variable to keep track of longest word
    longest_word=""
    #iterate through the list of words
    for word in words:
        if len(word)>len(longest_word):
            longest_word=word
    return longest_word

text="This is a string with another string"
result=longest_word(text)
print(result)

another

Q21. Find the shortest word in a string.

In [22]:
def shortest_word(text):
    words=text.split()
    #initialize variable to keep track of shortest word
    shortest_word=""
    #iterate through the list of words
    for word in words:
        #or not shortest_word condition checks if the shortest_word variable is empty if it is empty
        #then current word is set as shortest_word
        if len(word)<len(shortest_word) or not shortest_word:
            shortest_word=word
    return shortest_word

text="This is a string with another string"
result=shortest_word(text)
print(result)

a

Q22. Reverse the order of words in a string.

In [23]:
def reverse_words(text):
    words=text.split()
    reverse_words = words[::-1]
    reverse_text = " ".join(reverse_words)
    return reverse_text
text="This is a string with another string"
result = reverse_words(text)
print(result)

string another with string a is This

Q23. Check if a string is alphanumeric.

In [24]:
def is_alphanumeric(text):
    return text.isalnum()
#for alphanumeric character there should be any whitespace,there should be only alphabets and numerical value
text = "This is a string with another string123"
result = is_alphanumeric(text)
print(result)

False

Q24. Extract all digits from a string.

In [25]:
def extract_digits(text):
    #initialize an empty string to store the extracted digits
    digits = ""
    #iterate through each character in text
    for char in text:
        #check if a character has a digit using isdigit() method
        if char.isdigit():
            # appended the character to the string digits
            digits+=char
    return digits
text="Hello1234World4567"
extracted_digits = extract_digits(text)
print("Extracted digits: ",extracted_digits)

Extracted digits:  12344567

Q25. Extract all alphabets from a string.

In [26]:
def extract_alphabets(text):
    alphabets = "".join([char for char in text if char.isalpha()])
    return alphabets
text="Hello1234World4567"
extracted_alphabets = extract_alphabets(text)
print("Extracted alphabets : ",extracted_alphabets)

Extracted alphabets :  HelloWorld

Q26. Count the number of uppercase letters in a string.

In [27]:
def count_uppercase(string1):
    uppercase_count=0
    for char in string1:
        if char.isupper():
            uppercase_count+=1
    return uppercase_count

string1="HelloWorld"
uppercase_count = count_uppercase(string1)
print("Uppercase count : ", uppercase_count)

Uppercase count :  2

OR

In [28]:
def count_uppercase(string2):
    uppercase_count=sum(1 for char in string2 if char.isupper())
    return uppercase_count
string2="HelloWORld"
uppercase_count = count_uppercase(string2)
print(uppercase_count)

4

Q27. Count the number of lowercase letters in a string.

In [29]:
def count_lowercase(string2):
    lowercase_count=0
    for char in string2:
        if char.islower():
            lowercase_count+=1
    return lowercase_count
string2="HelloWorld"
lowercase_count = count_lowercase(string2)
print("lowercase count : ", lowercase_count)

lowercase count :  8

Q28. Swap the case of each character in a string.

In [30]:
def swap_case(input_string):
    swapped_string=input_string.swapcase()
    return swapped_string
input_string="HelloWORld"
swapped_string=swap_case(input_string)
print(swapped_string)

hELLOworLD

Q29. Remove a specific word from a string.

In [31]:
def remove_word(input_string,word_to_remove):
    words=input_string.split() #split the input string into a list of word
    filtered_word=[word for word in words if word!=word_to_remove] #create a new list excluding the word to remove
    modified_string=" ".join(filtered_word)#join the filtered word back to string
    return modified_string
input_string="This is a string"
word_to_remove="string"
filtered_word = remove_word(input_string,word_to_remove)
print(filtered_word)

This is a

Q30. Check if a string is a valid email address.

In [32]:
import re #import the regular expression module
def is_valid_email(email):
    pattern = r'^!@#5&*_-a-zA-Z0-9$' #regular experssion pattern for a basic email validation
    return re.match(pattern,email)
    
email = "bansalvaibhav01@gmail.com"
if is_valid_email(email):
    print(email + " is a valid email address")
else:
    print(email + " is not a valid email address")

bansalvaibhav01@gmail.com is not a valid email address

Q31. Extract the username from an email address string.

In [33]:
def extract_username(email):
    username=email.split('@')[0]  #split the email address at '@' and take the first part
    return username

email = "bansalvaibhav01@gmail.com"
username=extract_username(email)
print(username)

bansalvaibhav01

Q32. Extract the domain name from an email address string.

In [34]:
def extract_domain(email):
    domain=email.split('@')[1]  #split the email address at '@' and take the second part
    return domain

email = "bansalvaibhav01@gmail.com"
domain=extract_domain(email)
print(domain)

gmail.com

Q33. Replace multiple spaces in a string with a single space.

In [35]:
def replace_multiple_spaces(input_string):
    cleaned_string = " ".join(input_string.split()) #split the string at spaces and then join using a single space
    return cleaned_string
#input string with multiple spaces
input_string = "Hello    World!,  How   are    you  ?"
cleaned_string = replace_multiple_spaces(input_string)
print(cleaned_string)

Hello World!, How are you ?

Q34. Check if a string is a valid URL.

In [36]:
pip install validators

Requirement already satisfied: validators in c:\users\vaibhav bansal\anaconda3\lib\site-packages (0.22.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [37]:
import validators
def is_valid_url(url):
    try:
        validators.url(url)
        return True
    except validators.ValidationFailure:
        return False
url = "https://www.investofine.com"
if is_valid_url(url):
    print("Valid URL")
else:
    print("Invalid URL")

Valid URL

The try-except block is a control flow structure in Python that allows us to handle errors.The try block
contains the code that you want to execute without interruption.
1. If an error occurs in the try block, the exception is caught and handled by the except block.
2. The except block contains the code that will be executed if an error occurs in the try block. You can specify multiple except blocks to handle different types of exceptions.

Q35. Extract the protocol (http or https) from a URL string.

In [38]:
import re
def extract_protocol(url):
    protocol=re.findall(r"(http|https)://",url)[0]
    return protocol
url = "https://www.investofine.com"
protocol = extract_protocol(url)
print("Protocol : ", protocol)

Protocol :  https

The regular expression ^(http|https):// matches the beginning of the URL string, followed by either http or https, followed by ://. The re.findall() function returns a list of all occurrences of the regular expression in the URL string. The [0] index is used to get the first occurrence, which is the protocol.

Q36. Find the frequency of each character in a string.

In [39]:
def char_frequency(string1):
    dict = {}
    for char in string1:
        keys=dict.keys()
        if char in keys:
            dict[char]+=1 #increment the frequency count if char is in dictionary
        else:
            dict[char]=1  #initialize the frequency count to 1 if char is not in dictionary
    return dict
string1 = "Hello World!"
dict = char_frequency(string1)
print(dict)

{'H': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'W': 1, 'r': 1, 'd': 1, '!': 1}

Q37. Remove all punctuation from a string.

In [40]:
import string
def remove_punctuation(text):
    #remove punctuation from string
    #it includes the input string text that are not in the punctuation constant
    #join method is then used to combine the character in the list into a single string
    no_punctuation = "".join(char for char in text if char not in string.punctuation)
    return no_punctuation
text="This string. contains punctuation!"
result = remove_punctuation(text)
print(result)

This string contains punctuation

Q38. Check if a string contains only digits.

In [41]:
def contains_only_digit(input_string):
    return input_string.isdigit()
string1 = "12345"
string2 = "Hello123"

result1= contains_only_digit(string1)
result2= contains_only_digit(string2)
print(result1)
print(result2)

True
False

Q39. Check if a string contains only alphabets.

In [42]:
def contains_only_alphabet(input_string):
    return input_string.isalpha()
string1 = "Hello"
string2 = "Hello123"

result1= contains_only_alphabet(string1)
result2= contains_only_alphabet(string2)
print(result1)
print(result2)

True
False

Q40. Convert a string to a list of characters.

In [43]:
def string_to_list(input_str):
    #use list() constructor to convert a string into list of character
    char_list = list(input_str)
    return char_list
input_str = "Hello World!"
char_list = string_to_list(input_str)
print(char_list)

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd', '!']

Q41. Check if two strings are anagrams.

In [44]:
def are_anagrams(str1,str2):
    #remove spaces and convert strings to lowercase for accurate comparison
    str1=str1.replace(" ","").lower()
    str2=str2.replace(" ","").lower()
    #sort the character in both string and compare
    return sorted(str1)==sorted(str2)

string1 = "listen"
string2 = "silent"

#check if strings are anagrams
result = are_anagrams(string1, string2)
print(result)

True

Q42. Encode a string using a Caesar cipher.

In [45]:
def caesar_cipher(text,shift):
    alphabet="abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ"
    shifted_alphabet=alphabet[shift:]
    encoded_text = ""
    for char in text:
        if char in alphabet:
            index=alphabet.index(char)
            encoded_char=shifted_alphabet[index]
        else:
            encoded_char = char
        encoded_text+=encoded_char
    return encoded_text
text = "Hello World!"
shift = 3
encoded_text = caesar_cipher(text,shift)
print(encoded_text)

Khoor Zruog!

Q43. Decode a Caesar cipher encoded string.

In [46]:
def caesar_cipher_decode(encoded_text,shift):
    alphabet="abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ"
    shifted_alphabet=alphabet[shift:]
    decoded_text = ""
    for char in encoded_text:
        if char in shifted_alphabet:
            index=shifted_alphabet.index(char)
            decoded_char=alphabet[index]
        else:
            decoded_char=char
        decoded_text+=decoded_char
    return decoded_text
encoded_text="Khoor Zruog!"
shift=3
decoded_text=caesar_cipher_decode(encoded_text,shift)
print(decoded_text)

Hello World!

Q44. Find the most frequent word in a string.

In [47]:
import collections
def most_frequent_word(text):
    #split the text into words
    words=text.split()
    #create a dictionary to store words count
    word_counts=collections.Counter(words)
    #find the most frequent word and its count
    most_frequent_word=word_counts.most_common(1)[0][0]
    return most_frequent_word

text="This is a simple course to study data science. This is very easy to understand"
most_frequent_word=most_frequent_word(text)
print(most_frequent_word)

This

most_common(1) calls the most_common() method on the word_counts dictionary. This method returns a list of the most frequent elements in the dictionary, up to the specified number of elements. In this case, 1 is specified, so only the single most frequent element will be returned.

[0] extracts the first element from the list returned by most_common(1). This is the most frequent element, which is a tuple containing the word and its count.

[0] extracts the first element from the tuple, which is the word itself.

Q45. Find all unique words in a string.

In [48]:
import re
def find_unique_words(text):
    words=re.findall(r"\w+",text.lower())
    unique_words=set()
    for word in words:
        unique_words.add(word)
    return unique_words

text="This is a sample text to find the most frequent word"
unique_words = find_unique_words(text)
print("unique_words : ",unique_words)

unique_words :  {'a', 'the', 'most', 'to', 'word', 'frequent', 'is', 'text', 'this', 'find', 'sample'}

Q46. Count the number of syllables in a string.

In [49]:
#count of vowel group = number of syllables

In [50]:
import re
def count_syllables(word):
    #count vowel group using regular function
    vowel_groups=re.findall(r'[aeiou]',word,re.IGNORECASE)
    return len(vowel_groups)
word1="Hello"
word2="Banana"
word3="Iyllable"

syllables1=count_syllables(word1)
syllables2=count_syllables(word2)
syllables3=count_syllables(word3)

print(syllables1)
print(syllables2)
print(syllables3)

2
3
3

Q47. Check if a string contains any special characters.

In [51]:
import re
def has_special_char(input_string):
    pattern=re.compile(r'[@!$%^&_+\#*]')
    match = pattern.search(input_string)
    return bool(match)
input_string = "Hello World!"
if has_special_char(input_string):
    print("String contains special characters.")
else:
    print("String does not contains special characters.")

String contains special characters.

Q48. Remove the nth word from a string.

In [52]:
def remove_nth_word(text,n):
    words=text.split()
    if n>=1 or n<=len(words):
        removed_word = words.pop(n-1)
        return " ".join(words)
text="This is a text string"
n = 3
new_text=remove_nth_word(text,n)
print(new_text)

This is text string

Q49. Insert a word at the nth position in a string.

In [53]:
def insert_word_at_nth_position(text,word,n):
    words=text.split()
    if n>1 or n<len(words):
        words.insert(n-1,word)
        return " ".join(words)
text="This is a text string"
word = "new"
n = 4
new_text=insert_word_at_nth_position(text,word,n)
print(new_text)

This is a new text string

Q50. Convert a CSV string to a list of lists.

In [54]:
def csv_string_to_list(csv_string):
    #split the csv string into lines
    lines=csv_string.split("\n")
    #initialize an empty list to store the result
    result=[]
    for line in lines:
        #split eah line into fields using comma as delimiter
        fields=line.split(",")
        #append the field to the result list 
        result.append(fields)
    return result
#example csv string
csv_string="Name,Age,Country\nJohn,25,USA\nSmith,26,UK\nBob,34,India"
#convert csv string to list
list1 = csv_string_to_list(csv_string)
for row in list1:
    print(row)

['Name', 'Age', 'Country']
['John', '25', 'USA']
['Smith', '26', 'UK']
['Bob', '34', 'India']

# List based Question

Q1. Create a list with integers from 1 to 10.

In [55]:
integer_list=[i for i in range(1,11)]
print(integer_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Q2. Find the length of a list without using the `len()` function.

In [56]:
list1= [1,2,5,8,10]
count=0
for item in list1:
    count+=1
print(count)

5

Q3. Append an element to the end of a list.

In [57]:
list2=[1,2,5,8,10]
list2.append(6)
print(list2)

[1, 2, 5, 8, 10, 6]

Q4. Insert an element at a specific index in a list.

In [58]:
list3=[1,2,5,8,10]
index_to_insert=5
new_element=20
list3.insert(index_to_insert, new_element)
print(list3)

[1, 2, 5, 8, 10, 20]

Q5. Remove an element from a list by its value.

In [59]:
list4=[1,2,5,8,10]
list4.remove(8)
print(list4)

[1, 2, 5, 10]

Q6. Remove an element from a list by its index.

In [60]:
list5=[1,2,5,8,10]
index_to_remove=3
list5.pop(index_to_remove)
print(list5)

[1, 2, 5, 10]

Q7. Check if an element exists in a list.

In [61]:
list6=[1,2,5,8,10]
element=9
if element in list6:
    print("yes")
else:
    print("No")

No

Q8. Find the index of the first occurrence of an element in a list.

In [62]:
list7=[1,2,5,8,10,2]
#element to find the index of
element_to_find=2
result=list7.index(element_to_find)#it returns the index of first occurence of that element
print(f"The index of {element_to_find} is {result}")

The index of 2 is 1

Q9. Count the occurrences of an element in a list.

In [63]:
list8=[1,2,30,8,10,2,30,40,30]
element_to_count=30
count=list8.count(element_to_count)
print(f"The element {element_to_count} occurs {count} times")

The element 30 occurs 3 times

Q10. Reverse the order of elements in a list.

In [64]:
list9=[1,2,5,8,10]
list9[::-1]

[10, 8, 5, 2, 1]

### or

In [65]:
list9=[1,2,5,8,10]
list9.reverse()
print(list9)

[10, 8, 5, 2, 1]

Q11. Sort a list in ascending order.

In [66]:
list10=[1,10,5,8,3,2]
list10.sort()
print("Sorted list in ascending order:", list10)

Sorted list in ascending order: [1, 2, 3, 5, 8, 10]

Q12. Sort a list in descending order.

In [67]:
list11=[1,10,5,8,3,2]
list11.sort(reverse=True)
print("Sorted list in descending order:", list11)

Sorted list in descending order: [10, 8, 5, 3, 2, 1]

Q13. Create a list of even numbers from 1 to 20.

In [68]:
even_number = [list12 for list12 in range(2,21,2)]
print("List of even number : ", even_number)

List of even number :  [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

Q14. Create a list of odd numbers from 1 to 20.

In [69]:
odd_number = [list13 for list13 in range(1,21,2)]
print("List of odd number : ", odd_number)

List of odd number :  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

Q15. Find the sum of all elements in a list.

In [70]:
list14=[1,10,5,8,3,2]
total = sum(list14)
print("Sum of all elements: ",total)

Sum of all elements:  29

Q16. Find the maximum value in a list.

In [71]:
list15=[1,10,5,8,3,2]
max_value = max(list15)
print("Maximum value in elements: ", max_value)

Maximum value in elements:  10

Q17. Find the minimum value in a list.

In [72]:
list16=[1,10,5,8,3,2]
min_value = min(list16)
print("Minimum value in elements: ", min_value)

Minimum value in elements:  1

Q18. Create a list of squares of numbers from 1 to 10.

In [73]:
square_number=[x**2 for x in range(1,11)]
print(square_number)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Q19. Create a list of random numbers.

In [74]:
import random
random_list=[]
for i in range(10):
    random_list.append(random.randint(1,100))
print(random_list)

[45, 93, 60, 76, 84, 84, 33, 100, 12, 38]

Q21. Find the common elements between two lists.

In [75]:
list1=[1,2,3,4,5]
list2=[3,4,5,6,7]
common_elements=[]
for item in list1:
    if item in list2:
        common_elements.append(item)
print(common_elements)

[3, 4, 5]

Q20. Remove duplicates from a list.

In [76]:
lp = [10, 20, 30, 20, 40, 10, 50, 30]
uniquel= list(set(lp))
print(uniquel)

[40, 10, 50, 20, 30]

Q22. Find the difference between two lists.

In [77]:
list1=[1,2,3,4,5]
list2=[3,4,5,6,7]
difference=[]
for item in list1:
    if item not in list2:
        difference.append(item)
print(difference)

[1, 2]

or

In [78]:
list1=[1,2,3,4,5]
list2=[3,4,5,6,7]
difference=list(set(list1).difference(list2))
print(difference)

[1, 2]

Q23. Merge two lists.

In [79]:
list1=[1,2,3,4,5]  #if we don't want repetition in merged_list 
list2=[3,4,5,6,7]
merge_list = list(set(list1 + list2))
print(merge_list)

[1, 2, 3, 4, 5, 6, 7]

Q24. Multiply all elements in a list by 2.

In [80]:
my_list=[1,2,3,4,5] 
Multiplied_list=[i*2 for i in my_list]
print(Multiplied_list)

[2, 4, 6, 8, 10]

Q25. Filter out all even numbers from a list.

In [81]:
my_list=[1,2,3,4,5] 
odd_number=[element for element in my_list if element%2 != 0]
print(odd_number)

[1, 3, 5]

Q26. Convert a list of strings to a list of integers.

In [82]:
string_list=["10","20","30","40","50"]
integer_list=[int(x) for x in  string_list]
print(integer_list)

[10, 20, 30, 40, 50]

Q27. Convert a list of integers to a list of strings.

In [83]:
integer_list=[10,20,30,40,50]
string_list=[str(x) for x in  integer_list]
print(string_list)

['10', '20', '30', '40', '50']

Q28. Flatten a nested list.

In [84]:
nested_list=[[1,2,3],[4,5,6],[7,8,9]]
flattened_list=[]
for sublist in nested_list:
    for element in sublist:
        flattened_list.append(element)
print(flattened_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

Q29. Create a list of the first 10 Fibonacci numbers.

In [85]:
def fibonacci(n):
    if n==0:
        return 0
    elif n==1:
        return 1
    else:
        return fibonacci(n-1) + fibonacci(n-2)
fibonacci_numbers=[]
#generate the first 10 fibonacci number
for i in range(10):
    fibonacci_numbers.append(fibonacci(i))
print(fibonacci_numbers)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

Q30. Check if a list is sorted.

In [86]:
def is_sorted_ascending(lst):
    #iterate through the list starting from the second element (i = 1) up to the last element.
    for i in range(1,len(lst)):
        #compare the current element with the previous element (lst[i] < lst[i - 1])
        if lst[i]<lst[i-1]:
            return False
    return True
ascending_list=[10,20,30,40,50]
if is_sorted_ascending(ascending_list):
    print("List is sorted in ascending order")
else:
    print("List is sorted in descending order")

List is sorted in ascending order

Q31. Rotate a list to the left by `n` positions.

In [87]:
def rotate_left(my_list,n):
    #check if the number of rotation is valid
    if n < 0 or n >= len(my_list):
        raise ValueError("Invalid number of rotations")
        
    rotated_list = my_list[n:]+my_list[:n]
    return rotated_list

my_list=[5,6,7,8,9]
rotated_list=rotate_left(my_list,2)
print(rotated_list)

[7, 8, 9, 5, 6]

Q32. Rotate a list to the right by `n` positions.

In [88]:
def rotate_right(my_list,n):
    #check if the number of rotation is valid
    if n < 0 or n >= len(my_list):
        raise ValueError("Invalid number of rotations")
        
    rotated_list = my_list[n:] + my_list[:n]
    return rotated_list

my_list=[1,2,3,4,5,6]
rotated_list=rotate_right(my_list,2)
print(rotated_list)

[3, 4, 5, 6, 1, 2]

Q33. Create a list of prime numbers up to 50.

In [89]:
def is_prime(num):
    if num<=1:
        return False
    for i in range(2,num):
        if num%i==0: 
            return False
    return True
prime_numbers=[]
for num in range(2,50):
    if is_prime(num):
        prime_numbers.append(num)
print(prime_numbers)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

Q34. Split a list into chunks of size `n`.

In [90]:
def split_chunks(list14,chunk_size):
    if chunk_size<=0:
        raise ValueError("chunk_size must be positive")
        #split the list into chunks
    chunks = []
    for i in range(0,len(list14),chunk_size):
        chunks.append(list14[i : i+chunk_size])
    return chunks

list14=[1,2,3,4,5,6,7,8,9,10]
chunk_size=3
chunks = split_chunks(list14,chunk_size)
print(chunks)

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10]]

Q35. Find the second largest number in a list.

In [91]:
list1=[2,4,30,20,15,20,25]
#remove duplicates by converting it into set and then sort it in ascending order
sorted_list = sorted(set(list1))
#find the second largest number
if len(sorted_list)>2:
    second_largest=sorted_list[-2]
    print(second_largest)

25

Q36. Replace every element in a list with its square.

In [92]:
list2 = [2,4,6,8,3,7]
square_list = [i*i for i in list2]
print(square_list)

[4, 16, 36, 64, 9, 49]

Q37. Convert a list to a dictionary where list elements become keys and their
indices become values.

In [93]:
list3=['apple','banana','kiwi','pineapple']
dict={element : index for index,element in enumerate(list3)}
print(dict)

{'apple': 0, 'banana': 1, 'kiwi': 2, 'pineapple': 3}

Q38. Shuffle the elements of a list randomly.

In [94]:
import random
list3=[1,2,3,4,5,6,7,8,9]
#shuffle the list randomly
random.shuffle(list3)
print(list3)

[2, 7, 1, 3, 6, 5, 8, 4, 9]

Q39. Create a list of the first 10 factorial numbers.

In [95]:
def factorial(n):
    if n==0 or n==1:
        return 1
    else:
        return n*factorial(n-1)
    
factorial_numbers=[factorial(i) for i in range(10)]
print("List of 10 factorial numbers : ",factorial_numbers)

List of 10 factorial numbers :  [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

Q40. Check if two lists have at least one element in common.

In [96]:
def has_common_element(list1,list2):
    for item in list1:
        if item in list2:
            return True
    return False
list1=[1,2,3,4,5]
list2=[6,7,8]
if has_common_element(list1,list2):
    print("The list have at least one common element")
else:
    print("The list do not have common element")

The list do not have common element

Q41. Remove all elements from a list.

In [97]:
list3=[1,2,3,4,5]
list3.clear()
print(list3)

[]

Q42. Replace negative numbers in a list with 0.

In [98]:
list3=[10,20,-10,-25,40,-50]
for i in range(len(list3)):
    if list3[i]<0:
        list3[i]=0
print("list after replacing negative numbers with 0 : ", list3)

list after replacing negative numbers with 0 :  [10, 20, 0, 0, 40, 0]

Q43. Convert a string into a list of words.

In [99]:
string="This is a PW course"
words_list = string.split()
print("List of words : ", words_list)

List of words :  ['This', 'is', 'a', 'PW', 'course']

Q44. Convert a list of words into a string.

In [100]:
words_list :  ['This', 'is', 'a', 'PW', 'course']
string = " ".join(words_list)
print(string)

This is a PW course

Q45. Create a list of the first `n` powers of 2.

In [101]:
n=5 #range(5)-0,1,2,3,4
power_list = [2**i for i in range(n)]
print("List of first 5 powers of 2 is : ",power_list)

List of first 5 powers of 2 is :  [1, 2, 4, 8, 16]

Q46. Find the longest string in a list of strings.

In [102]:
string_list = ["apple","banana","orange","kiwi","strawberry"]
longest_string = string_list[0]
for s in string_list:
    if len(s)>len(longest_string):
        longest_string=s
print("Longest string : ",longest_string)

Longest string :  strawberry

Q47. Find the shortest string in a list of strings.

In [103]:
string_list=["apple","banana","orange","kiwi","strawberry"]
#initialize the shortest string
shortest_string=string_list[0]
for s in string_list:
    if len(s)<len(shortest_string):
        shortest_string=s
print("Shortest string : ", shortest_string)

Shortest string :  kiwi

Q48. Create a list of the first `n` triangular numbers.

In [104]:
def triangular_number(n):
    return [i*(i+1)//2 for i in range(1,n+1)]
#specify the value of n
n=5
#create the list of first n triangular number
triangular_list =triangular_number(n)
print("List of the first n triangular number : ",triangular_list)

List of the first n triangular number :  [1, 3, 6, 10, 15]

Q49. Check if a list contains another list as a subsequence.

In [105]:
def is_subsequence(subsequence,sequence):
    subseq_index=0 #index for subsequence element
    for element in sequence:
        if element == subsequence[subseq_index]:
            subseq_index+=1
            if subseq_index==len(subsequence):
                return True
    return False
            
sequence=[1,2,3,4,5,6,7,8]
subsequence=[3,8,5]
if is_subsequence(subsequence,sequence):
    print("The subsequence is present in sequence")
else:
    print("The subsequence is not present in sequence")

The subsequence is not present in sequence

OR

In [106]:
def is_subsequence(subsequence, sequence):
    if len(subsequence) > len(sequence):
        return False

    i = 0
    j = 0
    while i < len(sequence) and j < len(subsequence):
        if sequence[i] == subsequence[j]:
            i += 1
            j += 1
        else:
            i += 1
#If the index j reaches the length of the subsequence, it means that all elements of the 
#subsequence have been matched in the sequence and the function returns True
    if j == len(subsequence):
        return True
    else:
        return False
subsequence = [1,3,5]
sequence = [1, 2, 3, 4, 5]

if is_subsequence(subsequence, sequence):
    print("The subsequence is present in the sequence")
else:
    print("The subsequence is not present in the sequence")

The subsequence is present in the sequence

Q50. Swap two elements in a list by their indices.

In [107]:
list3=[1,5,6,3,7,9,8]
index_1=2
index_2=5
temp = list3[index_1]
list3[index_1]=list3[index_2]
list3[index_2]=temp
print(list3)

[1, 5, 9, 3, 7, 6, 8]

# Tuple based Question

Q1. Create a tuple with integers from 1 to 5.

In [108]:
my_tuple=tuple(range(1,6))
print(my_tuple)

(1, 2, 3, 4, 5)

Q2. Access the third element of a tuple.

In [109]:
my_tuple=(1,2,3,4,5)
my_tuple[2]

3

Q3. Find the length of a tuple without using the `len()` function.

In [110]:
my_tuple=(1,2,3,4,5)
#initialize variable to count the number
count=0
#iterate thorugh the tuple and increment the count for each element in tuple
for element in my_tuple:
    count+=1
print("The length of the tuple : ",count)

The length of the tuple :  5

Q4. Count the occurrences of an element in a tuple.

In [111]:
my_tuple =(1,2,2,3,1,4,5,2)
my_tuple.count(2)

3

OR

In [112]:
my_tuple =(1,2,2,3,1,4,5,2)
element_to_count=2
count=0
for item in my_tuple:
    if item==element_to_count:
        count+=1
print(f"The occurence of element {element_to_count} is {count} times")

The occurence of element 2 is 3 times

Q5. Find the index of the first occurrence of an element in a tuple.

In [113]:
my_tuple =(1,2,2,3,1,4,5,2)
element_to_find=2
index=my_tuple.index(element_to_find)
print(f"The index of first occurence of element {element_to_find} is {index}")

The index of first occurence of element 2 is 1

Q6. Check if an element exists in a tuple.

In [114]:
my_tuple =(1,2,2,3,1,4,5,2)
if 3 in my_tuple:
    print("Yes, 3 exists in my_tuple")
else:
    print("No, 3 doesn't exists in tuple")

Yes, 3 exists in my_tuple

Q7. Convert a tuple to a list.

In [115]:
tuple1 =(1,2,2,3,1,4,5,2)
my_list = list(tuple1)
print(my_list)

[1, 2, 2, 3, 1, 4, 5, 2]

Q8. Convert a list to a tuple.

In [116]:
list1 = [1,2,2,3,1,4,5,2]
my_tuple = tuple(list1)
print(my_tuple)

(1, 2, 2, 3, 1, 4, 5, 2)

Q9. Unpack the elements of a tuple into variables.

In [117]:
tuple1=(10,20,30)
var_1,var_2,var_3=tuple1
print(var_1,var_2,var_3)

10 20 30

Q10. Create a tuple of even numbers from 1 to 10.

In [118]:
list1 = [num for num in range(2,11,2)]
my_tuple = tuple(list1)
print(my_tuple)

(2, 4, 6, 8, 10)

Q11. Create a tuple of odd numbers from 1 to 10.

In [119]:
list2 = [num for num in range(1,10,2)]
my_tuple = tuple(list2)
print(my_tuple)

(1, 3, 5, 7, 9)

Q12. Concatenate two tuples.

In [120]:
tuple1=(1,3,5,7,9)
tuple2=(2,4,6,8)
concatenated_tuple = tuple1 + tuple2
print(concatenated_tuple)

(1, 3, 5, 7, 9, 2, 4, 6, 8)

Q13. Repeat a tuple three times.

In [121]:
tuple2=(1,2,3,4,5)
repeated_tuple = 3*tuple2
print(repeated_tuple)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

Q14. Check if a tuple is empty.

In [122]:
tuple2=(1,2,3,4,5)
empty_tuple=()
if tuple2==():
    print("tuple is empty")
else:
    print("tuple is not empty")

tuple is not empty

Q15. Create a nested tuple.

In [123]:
nested_tuple=((1,2,3),('a','b','c'),(True,False))
print("nested_tuple : ", nested_tuple)

nested_tuple :  ((1, 2, 3), ('a', 'b', 'c'), (True, False))

Q16. Access the first element of a nested tuple.

In [124]:
nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False))
nested_tuple[0]

(1, 2, 3)

Q17. Create a tuple with a single element.

In [125]:
single_element_tuple=(3,)
print(single_element_tuple)

(3,)

Q18. Compare two tuples.

In [126]:
tuple1 = (1,2,3)
tuple2 = (1,2,4)
print("tuple1==tuple2 : ",tuple1==tuple2)
print("tuple1!=tuple2 : ",tuple1!=tuple2)
print("tuple1>=tuple2 : ",tuple1>=tuple2)
print("tuple1<=tuple2 : ",tuple1<=tuple2)
print("tuple1>tuple2 : ",tuple1>tuple2)
print("tuple1<tuple2 : ",tuple1<tuple2)

tuple1==tuple2 :  False
tuple1!=tuple2 :  True
tuple1>=tuple2 :  False
tuple1<=tuple2 :  True
tuple1>tuple2 :  False
tuple1<tuple2 :  True

Q19. Delete a tuple.

In [127]:
my_tuple = (1,2,3,4,5)
del my_tuple
#try to access the tuple
print(my_tuple)

NameError: name 'my_tuple' is not defined

Q20. Slice a tuple.

In [128]:
tuple2 = (1,2,3,4,5,6,7,8)
tuple2[2:6]

(3, 4, 5, 6)

Q21. Find the maximum value in a tuple.

In [129]:
tuple2 = (1,2,3,4,5,6,7,8)
print(max(tuple2))

8

Q22. Find the minimum value in a tuple.

In [130]:
tuple2 = (1,2,3,4,5,6,7,8)
print(min(tuple2))

1

Q23. Convert a string to a tuple of characters.

In [131]:
string = "Hello World!"
tuple_of_characters = tuple(string)
print("Tuple of characters : ",tuple_of_characters)

Tuple of characters :  ('H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd', '!')

Q24. Convert a tuple of characters to a string.

In [132]:
tuple_of_characters = ('H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd', '!')
string = "".join(tuple_of_characters)
print(" String : ", string)

 String :  Hello World!

Q25. Create a tuple from multiple data types.

In [133]:
tuple2=(1,"hello",1.32,True)
print(tuple2)

(1, 'hello', 1.32, True)

Q26. Check if two tuples are identical.

In [134]:
tuple1 = (1,2,3)
tuple2 = (1,2,3)
tuple3 = (4,5,6)
#two tuples are identical if they have same length and same elements
are_identical1 = tuple1==tuple2
are_identical2 = tuple1==tuple3
print("tuple1 and tuple2 are identical : ", are_identical1)
print("tuple1 and tuple2 are identical : ", are_identical2)

tuple1 and tuple2 are identical :  True
tuple1 and tuple2 are identical :  False

Q27. Sort the elements of a tuple.

In [135]:
my_tuple=(6,7,3,9,2,8)
sorted_tuple = tuple(sorted(my_tuple))
print(sorted_tuple)

(2, 3, 6, 7, 8, 9)

Q28. Convert a tuple of integers to a tuple of strings.

In [136]:
tuple_integer = (1,2,3,4,5)
tuple_of_string = tuple(str(item) for item in tuple_integer)
print(tuple_of_string)

('1', '2', '3', '4', '5')

Q29. Convert a tuple of strings to a tuple of integers.

In [137]:
tuple_of_string = ('1', '2', '3', '4', '5')
tuple_integer = tuple(int(item) for item in tuple_of_string)
print(tuple_integer)

(1, 2, 3, 4, 5)

Q30. Merge two tuples.

In [138]:
tuple1=(1,2,3,4)
tuple2=(5,6,7,8)
tuple3 = tuple1 + tuple2
print(tuple3)

(1, 2, 3, 4, 5, 6, 7, 8)

Q31. Flatten a nested tuple.

In [139]:
nested_tuple = ((1,2),(3,4),(5,6))
flattened_tuple=()
for subtuple in nested_tuple:
    for element in subtuple:
        flattened_tuple+=(element,)#because we can't use append operation tuple
print(flattened_tuple)

(1, 2, 3, 4, 5, 6)

Q32. Create a tuple of the first 5 prime numbers.

In [140]:
def is_prime(num):
    if num<=1:
        return False
    for i in range(2,num):
        if num%i==0:
            return False
    return True
prime_numbers=()
for num in range(2,12):
    if is_prime(num):
        prime_numbers+=(num,)
print(prime_numbers)

(2, 3, 5, 7, 11)

Q33. Check if a tuple is a palindrome.

In [141]:
def is_palindrome(tuple):
    return tuple==tuple[::-1]#to remove space and convert it into lowercase
tuple1 = (1,2,3,2,1)
tuple2 = (1,2,3,4,5)
is_palindrome1 = is_palindrome(tuple1)
is_palindrome2 = is_palindrome(tuple2)
print("tuple1 is a palindrome tuple : ", is_palindrome1)
print("tuple2 is a palindrome tuple : ", is_palindrome2)

tuple1 is a palindrome tuple :  True
tuple2 is a palindrome tuple :  False

Q34. Create a tuple of squares of numbers from 1 to 5.

In [142]:
squares_tuple = tuple(x**2 for x in range(1,6))
print("Square tuple : ", squares_tuple)

Square tuple :  (1, 4, 9, 16, 25)

Q35. Filter out all even numbers from a tuple.

In [143]:
even_tuple = tuple(num for num in range(1,10) if num%2 == 0)
print(even_tuple)

(2, 4, 6, 8)

In [144]:
numbers_tuple = tuple(range(1,11))
even_numbers=tuple(filter(lambda x : x%2==0 , numbers_tuple))
print(even_numbers)

(2, 4, 6, 8, 10)

Q36. Multiply all elements in a tuple by 2.

In [145]:
new_tuple = tuple(num*2 for num in range(1,6))
print(new_tuple)

(2, 4, 6, 8, 10)

Q37. Create a tuple of random numbers.

In [146]:
import random
#creating a tuple of random numbers by using list comprehension
random_tuple = tuple(random.randint(1,100) for _ in range(10))
print("random tuple : ",random_tuple)

random tuple :  (97, 36, 35, 1, 42, 41, 89, 92, 22, 47)

Q38. Check if a tuple is sorted.

In [147]:
def is_tuple_sorted(t):
    for i in range(1,len(t)):
        if t[i] < t[i-1]:
            return False
    return True
t = (1,2,3,4,5)
is_tuple_sorted(t)

True

Q39. Rotate a tuple to the left by `n` positions.

In [148]:
def rotate_left(tuple,n):
    if n<=0 or n>len(tuple):
        raise ValueError("Invalid number of rotations")
        
    rotated_tuple=tuple[n:]+tuple[:n]
    return rotated_tuple

In [149]:
tuple3=(1,2,3,4,5,6)
n=3
rotated_tuple=rotate_left(tuple3,3)
print(rotated_tuple)

(4, 5, 6, 1, 2, 3)

Q40. Rotate a tuple to the right by `n` positions.

In [150]:
def rotate_right(tuple3,n):
    if n<=0 or n>len(tuple3):
        raise ValueError("Invalid number of iteration")
        
    rotated_tuple=tuple3[n:]+tuple3[:n]
    return rotated_tuple

In [151]:
tuple3=(1,2,3,4,5,6)
n=4
rotated_tuple=rotate_right(tuple3,2)
print(rotated_tuple)

(3, 4, 5, 6, 1, 2)

Q41. Create a tuple of the first 5 Fibonacci numbers.

In [152]:
def fibonacci(n):
    if n==0:
        return 0
    elif n==1:
        return 1
    else:
        return fibonacci(n-1)+fibonacci(n-2)
fibonacci_num = []
for i in range(5):
    fibonacci_num.append(fibonacci(i))
print(fibonacci_num)

[0, 1, 1, 2, 3]

Q42. Create a tuple from user input.

In [154]:
user_input = input("Enter elements seperated by comma : ")
user_tuple=tuple(user_input.split(","))
print("Tuple created from user_input is : ",user_tuple)

Enter elements seperated by comma : ineuron,pw,vaibhav
Tuple created from user_input is :  ('ineuron', 'pw', 'vaibhav')

Q43. Swap two elements in a tuple.

In [155]:
my_tuple=(1,2,3,4,5,6,7,8)
index1=1
index2=4
#convert the tuple into list
tuple_list=list(my_tuple)
#swap the element in the list
tuple_list[index1],tuple_list[index2]=tuple_list[index2],tuple_list[index1]
swapped_tuple=tuple(tuple_list)
print("swapped_tuple : ",swapped_tuple)

swapped_tuple :  (1, 5, 3, 4, 2, 6, 7, 8)

Q44. Reverse the elements of a tuple.

In [156]:
my_tuple=(1,2,3,4,5,6,7,8)
reverse_tuple = my_tuple[::-1]
print(reverse_tuple)

(8, 7, 6, 5, 4, 3, 2, 1)

Q45.  Create a tuple of the first `n` powers of 2.

In [157]:
n=5
#create a tuple of the first n powers of 2 using a list comprehension
power_of_2_tuple=[2**i for i in range(n)]
print("tuple of first n power of 2 is : ",power_of_2_tuple)

tuple of first n power of 2 is :  [1, 2, 4, 8, 16]

Q46. Find the longest string in a tuple of strings.

In [158]:
string_tuple=("Vaibhav","bansal","kumar","sharma")
max_str_len=max(string_tuple,key=len)
print(max_str_len)

Vaibhav

Q47. Find the shortest string in a tuple of strings.

In [159]:
string_tuple=("Vaibhav","bansal","kumar","sharma")
min_str_len=min(string_tuple,key=len)
print(min_str_len)

kumar

Q48. Create a tuple of the first n triangular numbers.

In [160]:
n=5
triangular_number_tuple=tuple(i*(i+1)//2 for i in range(1,n+1))
print(triangular_number_tuple)

(1, 3, 6, 10, 15)

Q49. Check if a tuple contains another tuple as a subsequence.

In [161]:
def is_subsequence(subsequence,sequence):
    if len(sequence)<len(subsequence):
        return False
    i=0
    j=0
    while i<len(sequence) and j<len(subsequence):
        if sequence[i]==subsequence[j]:
            i+=1
            j+=1
        else:
            i+=1
#If the index j reaches the length of the subsequence, it means that all elements of the 
#subsequence have been matched in the sequence and the function returns True
    if j==len(subsequence):
        return True
    else:
        return False
subsequence = (1,3,5)
sequence = (1,2,3,4,5)
if is_subsequence(subsequence, sequence):
    print("The subsequence is present in the sequence")
else:
    print("The subsequence is not present in the sequence")

The subsequence is present in the sequence

Q50. Create a tuple of alternating 1s and 0s of length `n`.

In [162]:
n=10
# Create a tuple of alternating 1s and 0s using a list comprehension
alternating_tuple = tuple(i%2 for i in range(10))
print(alternating_tuple)

(0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

# Set based question

Q1. Create a set with integers from 1 to 5.

In [163]:
integer_set=set(range(1,6))
print(integer_set)

{1, 2, 3, 4, 5}

Q2. Add an element to a set.

In [164]:
my_set={1, 2, 3, 4, 5}
element_to_add=6
my_set.add(element_to_add)
print(my_set)

{1, 2, 3, 4, 5, 6}

Q3. Remove an element from a set.

In [165]:
my_set={1, 2, 3, 4, 5}
element_to_remove=5
my_set.remove(element_to_remove)
print(my_set)

{1, 2, 3, 4}

Q4. Check if an element exists in a set.

In [166]:
my_set={1, 2, 3, 4, 5}
element_to_check = int(input("Enter the element to check : "))
if element_to_check in my_set:
    print(f"{element_to_check} exist in the set")
else:
    print(f"{element_to_check} does not exist in the set")

Enter the element to check : 3
3 exist in the set

Q5. Find the length of a set without using the `len()` function.

In [167]:
my_set={1,2,3,4,5}
count=0
for element in my_set:
    count+=1
print(len(my_set))

5

Q6. Clear all elements from a set.

In [168]:
my_set={1,2,3,4,5}
my_set.clear()
print(my_set)

set()

Q7. Create a set of even numbers from 1 to 10.

In [169]:
my_set = set([i for i in range(1,11) if i%2==0])
print(my_set)

{2, 4, 6, 8, 10}

Q8. Create a set of odd numbers from 1 to 10.

In [170]:
my_set = set([i for i in range(1,11) if i%2!=0])
print(my_set)

{1, 3, 5, 7, 9}

Q9. Find the union of two sets.

In [171]:
set1={1,2,3,4}
set2={3,4,5,6}
set1.union(set2)

{1, 2, 3, 4, 5, 6}

Q10. Find the intersection of two sets.

In [172]:
set1={1,2,3,4}
set2={3,4,5,6}
set1.intersection(set2)

{3, 4}

Q11. Find the difference between two sets.

In [173]:
set1={1,2,3,4}
set2={3,4,5,6}
set1.difference(set2)

{1, 2}

Q12. Check if a set is a subset of another set.

In [174]:
set1={1,2,3,4}
set2={1,2,3,4,5,6}
# Use the "issubset()" method to check if set1 is a subset of set2
set1.issubset(set2)

True

Q13. Check if a set is a superset of another set.

In [175]:
set1={1,2,3,4,5,6}
set2={1,2,3}
# Use the "issuperset()" method to check if set1 is a superset of set2
set1.issuperset(set2)

True

Q14. Create a set from a list.

In [176]:
list1=[1,2,3,4,5,6]
print(set(list1))

{1, 2, 3, 4, 5, 6}

Q15. Convert a set to a list.

In [177]:
set1 = {1, 2, 3, 4, 5, 6}
new_list=list(set1)
print(new_list)

[1, 2, 3, 4, 5, 6]

Q16. Remove a random element from a set.

In [178]:
my_set = {1, 2, 3, 4, 5, 6}
random_element=random.choice(list(my_set))
my_set.remove(random_element)
print(my_set)

{1, 2, 3, 4, 5}

Q17. Pop an element from a set.

In [179]:
my_set = {1, 2, 3, 4, 5, 6}
my_set.pop()
print(my_set)

{2, 3, 4, 5, 6}

Q18. Check if two sets have no elements in common.

In [180]:
set1={1,2,3,4}
set2={5,6,7,8}
# The intersection is the set of elements that are common to both sets
common_elements = set1.intersection(set2)
if not common_elements:
    print("There is no common element")
else:
    print("There is common element")

There is no common element

Q19. Find the symmetric difference between two sets.

In [181]:
set1={1,2,3,4}
set2={3,4,5,6}
# Calculate the symmetric difference using the ^ operator
symmetric_difference=set1^set2
print(symmetric_difference)

{1, 2, 5, 6}

Q20. Update a set with elements from another set.

In [182]:
set1={1,2,3,4}
set2={5,6,7,8}
set1.update(set2)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8}

Q21. Create a set of the first 5 prime numbers.

In [183]:
def is_prime(num):
    if num<=1:
        return False
    for i in range(2,num):
        if num%i==0:
            return False
    return True
prime_set=set()
for num in range(2,12):
    if is_prime(num):
        prime_set.add(num)
print(prime_set)

{2, 3, 5, 7, 11}

Q22. Check if two sets are identical.

In [184]:
set1={1,2,3,4,5}
set2={3,4,2,1,5}# The order of elements doesn't matter in sets
#Check if the sets are identical using the `==` operator
if set1==set2:
    print("sets are identical to each other")
else:
    print("sets are not identical to each other")

sets are identical to each other

Q23. Create a frozen set.

In [185]:
element={1,2,3,4,5}
my_frozen_set=frozenset(element)
print(my_frozen_set)

frozenset({1, 2, 3, 4, 5})

Q24. Check if a set is disjoint with another set.

In [186]:
set1={1,2,3,4}
set2={5,6,7,8}
#Use the `isdisjoint()` method to check if the sets are disjoint
# The `isdisjoint()` method returns True if the sets have no common elements,
# and False if they have at least one common element
disjoint_status = set1.isdisjoint(set2)
print(disjoint_status)

True

Q25. Create a set of squares of numbers from 1 to 5.

In [187]:
square_no = set([i*i for i in range(1,6)])
print(square_no)

{1, 4, 9, 16, 25}

Q26. Filter out all even numbers from a set.

In [188]:
my_set={1,2,3,4,5,6,7,8}
even_set = set([i for i in my_set if i%2==0])
print(even_set)

{8, 2, 4, 6}

Q27. Multiply all elements in a set by 2.

In [189]:
my_set={1,2,3,4,5,6,7,8}
multiple_set = set([2*i for i in my_set])
print(multiple_set)

{2, 4, 6, 8, 10, 12, 14, 16}

Q28. Create a set of random numbers.

In [190]:
import random
random_set=set(random.randint(1,100) for _ in range(5))
print(random_set)

{42, 16, 24, 60, 95}

Q29. Check if a set is empty.

In [191]:
my_set=set()
if not my_set:
    print('set is  empty')
else:
    print('set is not empty')

set is  empty

Q30. Create a nested set (hint: use frozenset).

In [192]:
set1={1,2,3,4}
set2={5,6,7,8}
frozen_set1=frozenset(set1)
frozen_set2=frozenset(set2)
nested_set={frozen_set1,frozen_set2}
print(nested_set)

{frozenset({1, 2, 3, 4}), frozenset({8, 5, 6, 7})}

Q31. Remove an element from a set using the discard method.

In [193]:
set1={1,2,3,4}
set1.discard(3)
print(set1)

{1, 2, 4}

Q32. Compare two sets.

In [194]:
set1 = {1, 2, 3, 4}
set2 = {4, 5, 6, 7}

# Step 2: Use set operations to compare the sets
# Check if set1 is a subset of set2
is_subset = set1.issubset(set2)

# Check if set2 is a subset of set1
is_superset = set1.issuperset(set2)

# Find the intersection of the sets
intersection = set1.intersection(set2)

# Find the union of the sets
union = set1.union(set2)

# Find the elements that are in set1 but not in set2
difference1 = set1.difference(set2)

# Find the elements that are in set2 but not in set1
difference2 = set2.difference(set1)

# Step 3: Print the results
print("Set 1:", set1)
print("Set 2:", set2)
print("Is set1 a subset of set2?", is_subset)
print("Is set2 a subset of set1?", is_superset)
print("Intersection:", intersection)
print("Union:", union)
print("Elements in set1 but not in set2:", difference1)
print("Elements in set2 but not in set1:", difference2)

Set 1: {1, 2, 3, 4}
Set 2: {4, 5, 6, 7}
Is set1 a subset of set2? False
Is set2 a subset of set1? False
Intersection: {4}
Union: {1, 2, 3, 4, 5, 6, 7}
Elements in set1 but not in set2: {1, 2, 3}
Elements in set2 but not in set1: {5, 6, 7}

Q33. Create a set from a string.

In [195]:
input_string = "Hello World!"
#Use the set() constructor to create a set from the characters in the string
char_set = set(input_string)
print(char_set)

{' ', 'o', 'l', '!', 'H', 'W', 'e', 'r', 'd'}

Q34. Convert a set of strings to a set of integers.

In [196]:
string_set={"123","456","789"}
integer_set = set()
for string in string_set:
    integer_value = int(string)
    integer_set.add(integer_value)
print(integer_set)

{456, 123, 789}

Q35. Convert a set of integers to a set of strings.

In [197]:
integer_set={456, 123, 789}
string_set=set()
for num in integer_set:
    num_str=str(num)
    string_set.add(num_str)
print(string_set)

{'456', '123', '789'}

Q36. Create a set from a tuple.

In [198]:
my_tuple=(1,2,3,4,5)
my_set=set(my_tuple)
print(my_set)

{1, 2, 3, 4, 5}

Q37. Convert a set to a tuple.

In [199]:
my_set={1,2,3,4,5}
my_tuple=tuple(my_set)
print(my_tuple)

(1, 2, 3, 4, 5)

Q38.Find the maximum value in a set.

In [200]:
my_set = {1,3,6,8,52,19,60}
max_value=None
for num in my_set:
    if max_value is None or num>max_value:
        max_value=num
print("Max value : ",max_value)

Max value :  60

Q39. Find the minimum value in a set.

In [201]:
my_set = {1,3,6,8,52,19,60}
min_value=None
for num in my_set:
    if min_value is None or num<min_value:
        min_value=num
print("Min value : ",min_value)

Min value :  1

Q40. Create a set from user input.

In [203]:
user_set=set()
while True:
    user_input=input("Enter the element for the set : ")
    if user_input.lower()=="done":
        break
    user_set.add(user_input)
print("Final set : ",user_set)

Enter the element for the set : vaibhav
Enter the element for the set : bansal
Enter the element for the set : done
Final set :  {'bansal', 'vaibhav'}

Q41. Check if the intersection of two sets is empty.

In [204]:
set1= {1,2,3,4,5}
set2={4,5,6,7,8}
intersection_result = set1.intersection(set2)
if not intersection_result:
    print("Intersection of two set is empty")
else:
    print("Intersection of two set is not empty")

Intersection of two set is not empty

Q42. Create a set of the first 5 Fibonacci numbers.

In [205]:
def fib(n):
    if n==0:
        return 0
    elif n==1:
        return 1
    else:
        return fib(n-2)+fib(n-1)
fib_set=set()
for i in range(5):
    fib_set.add(fib(i))
print(f"The set of first 5 fibonaaci number is : {fib_set}")

The set of first 5 fibonaaci number is : {0, 1, 2, 3}

Q43. Remove duplicates from a list using sets.

In [206]:
my_list=[1,2,3,4,5,6,3,2,4,6,8]
unique_set=set(my_list)
unique_list=list(unique_set)
print(unique_list)

[1, 2, 3, 4, 5, 6, 8]

Q44. Check if two sets have the same elements, regardless of their count.

In [207]:
def set_have_same_element(set1,set2):
    return set1 == set2
set1={1,4,5,3,2}
set2={3,4,2,1,5,1,2,3,4}
if set_have_same_element(set1,set2):
    print("Set have same element")
else:
    print("Set do not have same element")

Set have same element

Q45. Create a set of the first `n` powers of 2.

In [208]:
n=5
power_of_2_set=set([2**i for i in range(5)])
print("Set of first n power of 2 is : ",power_of_2_set)

Set of first n power of 2 is :  {1, 2, 4, 8, 16}

Q46. Find the common elements between a set and a list.

In [209]:
my_set={1,2,3,5}
my_list=[1,2,3,4,8,1,6,7]
list_to_set = set(my_list)

common_elements=[]
for element in my_set:
    if element in list_to_set:
        common_elements.append(element)
print("common elements : ",common_elements)

common elements :  [1, 2, 3]

Q47. Create a set of the first `n` triangular numbers.

In [210]:
def triangular_number(n):
    return [i*(i+1)//2 for i in range(1,n+1)]
n=5
triangular_list = triangular_number(n)
triangular_set=set(triangular_list)
print("Set of the first n triangular number : ",triangular_set)

Set of the first n triangular number :  {1, 3, 6, 10, 15}

Q48. Check if a set contains another set as a subset.

In [211]:
set1={1,2,3,4,5}
set2={1,2}
is_subset = set2.issubset(set1)
if is_subset:
    print("set2 is subset of set1")
else:
    print("set2 is not subset of set1")

set2 is subset of set1

Q49. Create a set of alternating 1s and 0s of length `n`.

In [212]:
n=10
alternating_set=set([i%2 for i in range(10)])
print(alternating_set)

{0, 1}

Q50. Merge multiple sets into one.

In [213]:
set1={1,2,3,4}
set2={5,6,7,8}
set3={2,4,5,9}
merged_set=set1.union(set2,set3)
print(merged_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

or

In [214]:
set1={1,2,3,4}
set2={5,6,7,8}
set3={2,4,5,9}
#we can merge the set by using bitwise operator(|)
merged_set=set1 | set2 | set3
print(merged_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}